#finish {
	position: absolute;
	top: 0;
	right: 0;
	padding: 209px 0 209px 0;
	clear: none;

}



#rainbow {
	position: absolute;
	left: 0;
	width: 200px;
	margin: 0;
}

#brown {
	position: absolute;
	top: 200px;
	left: 0;
	
	width: 200px;
	margin: 0;

}